* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.caixa2 {
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 38px;
}


nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav li a:hover {
    background-color: #555;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    display: block;
    width: 200px;
}