* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa {
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.caixa2 {
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid hwb(0 0% 100%);
    padding: 38px;
}


nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem;
}

nav li a:hover {
    background-color: rgb(85, 85, 85);
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(177, 177, 177);
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    display: block;
    width: 88px;
}