* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 220px 1fr 1fr;
    min-height: 100vh;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    gap: 15px;
}

.header {
    grid-area: header;
    background-color: #ffeae6;
}

.sidebar {
    grid-area: aside;
    background-color: #d1d7ff;
}

.content {
    grid-area: main;
    background-color: #ece6ff;
    color: #333;
}

.footer {
    grid-area: footer;
    background-color: #d1ffd1;
    padding: 0.5px;
}