body {
    background-image: url(/src/images/aestheticCoffe.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
    /*
    background-color: rgb(205, 235, 249);
    */
}

h1{
    background-color: rgb(255, 255, 255);
    color: rgb(110, 59, 0);
}

p{
    background-color: aliceblue;
}

a{
    color:green
} 