body {
    background-image: url(/src/images/aestheticCoffe.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
    /*
    background-color: rgb(205, 235, 249);
    */
}

h1{
    background-color: rgb(255, 255, 255);
    color: rgb(110, 59, 0);
}

p{
    background-color: aliceblue;
}

a{
    color:green
} 

table{
    border: 3px solid green;
    width: 500px;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

td{
    border: 3px solid green;
    padding: 10px;
    color: aliceblue;
    background-color: palevioletred;
}

th{
    background-color: rgb(0, 0, 0);
    border: 3px solid;
    padding: 10px;
    color: aqua;
}